.popularQuestionsContainer {
    display: flex;
    flex-direction: column;
}

.popularQuestionsTitleContainer {
    margin: 1vh 0;
    padding: 1vh;
}

.popularQuestionsTitleContainer h1, .popularQuestionsTitleContainer p{
    margin: 0;
    padding: 0;
}