.questionThreadContainer {
    margin: 0 auto;
}

.questionTitleContainer {
    background-color: #ffffff;
    padding: 2vh;
}

.questionTitleContainer h1{
    margin: 0;
    padding: 0;
}

.responsesContainer {
    display: flex;
    flex-direction: column;
}

.reponseCard {
    margin-top: 1vh;
    background-color: #ffffff;
    padding: 2vh;
}

.responseCardTitle h1,
.responseCardTitle h2,
.responseCardTitle h3,
.responseCardTitle h4,
.responseCardTitle h5,
.responseCardTitle h6,
.responseCardTitle p {
    margin: 0;
    padding: 0;
}

