.questionThreadContainer {
    margin: 0 auto;
}

.questionTitleContainer {
    background-color: #ffffff;
    padding: 2vh;
}

.questionTitleContainer h1{
    margin: 0;
    padding: 0;
}

.responsesContainer {
    display: flex;
    flex-direction: column;
}
