.siteHeader {
    background-color: #322549;
    color: hsla(0,0%,100%,.7);
    overflow: hidden;
    height: 60px;
    padding: 0 5px;
    position: sticky;
    line-height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

.headerContainer {
    width: 100%;
    margin: 0 auto;
}

.headerLeft {
    float: left;
}

.headerRight {
    float: right;
}

.accountButton {
    background-color: #fc7a63;
    color: white;
    border-radius: 20px;
    padding: 7px;
    margin: 0 2px;
}

.postButton {
    background-color: #fc7a63;
    border-radius: 20px;
    padding: 7px;
    color: white;
    margin: 0 2px;
}